{% extends "index.html" %}
{% block content %}
<form class="narrow" onsubmit="submitSignup(event)">
    <label for="name"></label><input class="string" type="text" id="name" name="name" required>
    <label for="surname"></label><input class="string" type="text" id="surname" name="surname" required>
    <label for="email"></label><input class="string" type="email" id="email" name="email" required>
    <label for="password"></label><input class="string" type="password" id="password" name="password" required>
    <label for="password-again"></label><input class="string" type="password" id="password-again" name="password-again" required>
    <button type="submit" class="string" id="signup"></button>
</form>
{% endblock %}