/* General */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    display: inline-block;
    font-family: Helvetica;
    letter-spacing: 2pt;
}

.left,
.right {
    height: inherit;
    width: inherit;
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

img {
    height: calc(100% - 20px);
    margin: 10px;
}

button {
    margin: inherit;
    padding: inherit;
    color: inherit;
    background: inherit;
    border: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

button:not(:has(img)) {
    padding: 0px 20px 0px 20px;
    white-space: nowrap;
}

/* Layout */

header,
main,
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

header,
footer,
#submenu {
    color: var(--background);
    background-color: var(--foreground);
}

header,
footer {
    height: var(--frame);
    justify-content: space-between;
    align-items: flex-start;
}

header {
    position: sticky;
    top: 0;
}

main {
    min-height: calc(100vh - 2* var(--frame));
    justify-content: center;
    align-items: center;
}

/* Header */

header button,
footer button {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    letter-spacing: inherit;
    word-spacing: inherit;
}

header button:hover,
header button:focus,
footer button:hover,
footer button:focus {
    background-color: var(--color_1);
}

#logo,
nav {
    height: var(--frame);
}

#logo {
    margin: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

/* TODO: remove */
#logo span {
    /* vertical-align: middle; */
    font-size: 18pt;
    letter-spacing: 8pt;
    font-weight: lighter;
    text-transform: uppercase;
    white-space: nowrap;
    /* height: 100%; */
}

nav {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    font-weight: bold;
}

#submenu {
    border: solid var(--border) var(--background);
}

#submenu>button {
    width: 200px;
}

#cart {
    align-items: flex-start;
    position: relative;
}

#cart-quantity {
    position: absolute;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 14pt;
    text-align: center;
}

/* Footer */

footer button {
    padding-right: 30px;
}

/* Main */

/* Phone features */

@media (max-width: 600px) {
    header {
        height: calc(2* var(--frame));
        flex-direction: column;
    }

    footer button {
        padding-right: 0px;
    }

    footer span {
        display: none;
    }
}