/* General */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    display: inline-block;
    font-family: Helvetica;
    letter-spacing: 2pt;
}

.left,
.right {
    height: inherit;
    width: inherit;
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

img {
    height: calc(100% - 10px);
    margin: 5px;
}

button {
    height: 30px;
    margin: 0px;
    padding: 0px;
    color: inherit;
    background: inherit;
    border: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

button:not(:has(img)) {
    padding: 0px 20px 0px 20px;
    white-space: nowrap;
}

button:hover:not(:disabled) {
    background-color: var(--color_1);
}

button:focus {
    outline: solid var(--border) var(--color_1);
}

button:disabled {
    cursor: inherit;
    opacity: 0.5;
}

main button {
    border-radius: 5px;
    color: var(--background);
    background-color: var(--foreground);
}

form {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

form label,
form button {
    margin-top: 20px;
}

form input,
form button {
    width: 100%;
    height: 30px;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 0;
    margin: 0;
}

table th,
table td {
    padding: 10px;
}

table td.number {
    text-align: right;
}

/* Layout */

main {
    width: calc(100% - 2*var(--margin));
    min-height: calc(100vh - 2* var(--frame) - 2*var(--margin));
    padding: var(--margin);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

header,
footer,
#menu {
    color: var(--background);
    background-color: var(--foreground);
}

header,
footer {
    height: var(--frame);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    position: sticky;
    top: 0;
}

/* Header */

header button,
footer button {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#logo,
nav {
    height: var(--frame);
}

#logo {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

/* TODO: remove when logo is embedded */
#logo span {
    /* vertical-align: middle; */
    font-size: 18pt;
    letter-spacing: 8pt;
    font-weight: lighter;
    text-transform: uppercase;
    white-space: nowrap;
    /* height: 100%; */
}

nav {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#menu {
    border: solid var(--border) var(--background);
}

#menu>button {
    height: 40px;
    width: 200px;
}

#cart {
    align-items: flex-start;
    position: relative;
}

#cart-counter {
    position: absolute;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 14pt;
    text-align: center;
}

/* Footer */

footer button {
    padding-right: 30px;
}

/* Phone features */

@media (max-width: 600px) {
    header {
        height: calc(2* var(--frame));
        flex-direction: column;
    }

    footer button {
        padding-right: 0px;
    }

    footer span {
        display: none;
    }

    main {
        min-height: calc(100vh - 3* var(--frame));
    }
}

/* Cart */

table#cart-table td.control {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

table#cart-table td.image {
    width: auto;
    height: 100%;
}

table#cart-table button {
    margin: 5px;
}

table#cart-table tr.total {
    font-weight: bold;
}